<html>
    <H1>Connexion</H1>
    <form action="">
        Adresse mail:<br>
        <input type="email" name="mail" placeholder="xxxxxx@eni-ecole.fr">
        <br>
        Mot de passe:<br>
        <input type="password" name="motdepasse">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</html>


