{% extends 'layout.html.twig' %}



{% block body %}
    <H1>Accueil</H1>

Hello World!
    <ul>

        <li><a href="register">Enregistrement</a></li>
        <li><a href="utilisateur/liste">Utilisateur - Liste</a></li>
        <li><a href="logout">Deconnexion</a></li>
        <li><a href="erreur">phpinfo</a></li>
    </ul>

{% endblock %}