{% block body %}
    <table>
        <tr>
            <td><div id="moncercle" style="background:#bfd70e; border-radius:50%; width:30px; height:30px; border:2px solid #679403; border-bottom: 10px;
"></div></td>
            <td><h1>Bases de données fonctionnelles</h1></td>
        </tr>
    </table>
{% endblock %}
