/.web-server-pid
/build/
/phpunit.xml
/.idea
nbproject/
var/*
var/cache/*
app/config/*
nbproject/private/private.xml
app/config/config.yml
var/logs/dev.log
var/cache/dev/appDevDebugProjectContainer.php.meta
var/logs/dev.log
var/cache/dev/appDevDebugProjectContainer.xml
var/logs/dev.log
var/cache/dev/appDevDebugProjectContainer.xml
nbproject/private/private.xml
app/config/config.yml
app/config/config.yml
