{% extends 'layout.html.twig' %}

{% block body %}
    <H1>Detail</H1>

    <div id="div_recherche" style="margin-top: 30px; background-color: grey;">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Identification</h3>
                <div class="box-body">
                    <div class="row">
                        <form id="form_search">
                            <div class="row">
                                <div class="col-xs-3">
                                    <input class="form-control" placeholder="Nom" type="text" id="input_nom">
                                </div>
                                <div class="col-xs-3">
                                    <input class="form-control" placeholder="Prenom" type="text" id="input_prenom">
                                </div>
                                <div class="col-xs-6">
                                    <input class="form-control" placeholder="XXXX@eni-ecole.fr" type="text" id="input_mail">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-xs-4">
                                    <select id="select_entreprise" class="form-control select2" style="width: 300px;">Entreprise</select>
                                </div>
                                <div class="col-xs-4">
                                    <select id="select_formation" class="form-control select2" style="width: 300px;">Formation</select>
                                </div>
                                <div class="col-xs-2"><button id="rechercher" class="btn btn-block btn-primary">Rechercher</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


        {% block javascripts %}
            <script src="{{ asset('Js/alternant/detail.js') }}"></script>
        {% endblock %}


{% endblock %}