{% extends 'layout.html.twig' %}

{% block body %}
    <H1>Liste Alternants</H1>

    <div id="div_recherche" style="margin-top: 30px; background-color: grey;">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Recherche</h3>
                <div class="box-body">
                    <div class="row">
                        <form id="form_search">
                            <div class="row">
                                <div class="col-xs-3">
                                    <input class="form-control" placeholder="Nom" type="text" id="input_nom">
                                </div>
                                <div class="col-xs-3">
                                    <input class="form-control" placeholder="Prenom" type="text" id="input_prenom">
                                </div>
                                <div class="col-xs-6">
                                    <input class="form-control" placeholder="XXXX@eni-ecole.fr" type="text" id="input_mail">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-xs-4">
                                    <select id="select_entreprise" class="form-control select2" style="width: 300px;">Entreprise</select>
                                </div>
                                <div class="col-xs-6">
                                    <select id="select_formation" class="form-control select2" style="width: 500px;">Formation</select>
                                </div>
                                <!--<div class="col-xs-1"><button id="rechercher" class="btn btn-block btn-primary">Rechercher</button></div>-->
                            </div>
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-xs-1">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="use_date">
                                            Filtrer par dates
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input class="form-control pull-right" id="date_deb" type="text">
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input class="form-control pull-right" id="date_fin" type="text">
                                    </div>
                                </div>

                                <div class="col-xs-1"><button id="rechercher" class="btn btn-block btn-primary">Rechercher</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_liste" style="margin-top: 20px;">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Liste</h3>
                <div class="box-body">
                    <div class="row">
                <table id="liste_utilisateur" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom - Prénom</th>
                        <th>Mail</th>
                        <th>Entreprise</th>
                        <th>Formation</th>
                        <th>Edition</th>
                    </tr>
                    </thead>
                    <tbody id="liste_utilisateur_ligne">

                    </tbody>
                </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Js/alternant/recherche.js') }}"></script>
{% endblock %}