#FRONTEND
frontend_homepage:
    path:     /
    defaults: { _controller: FrontendBundle:Accueil:index }
frontend_test:
    path:     /test
    defaults: { _controller: FrontendBundle:Accueil:index }
frontend_erreur:
    path:     /erreur
    defaults: { _controller: FrontendBundle:Accueil:erreur }
#FRONTEND

#CONNEXION
connexion_formulaire:
    path:     /connexion
    defaults: { _controller: FrontendBundle:Connexion:formulaire }
connexion_login:
    path:     /login
    defaults: { _controller: FrontendBundle:Connexion:login }
connexion_login_check:
    path:     /login_check
    defaults: { _controller: FrontendBundle:Connexion:login_check }
connexion_logout:
    path:     /logout
    defaults: { _controller: FrontendBundle:Connexion:logout }
connexion_register:
    path:     /register
    defaults: { _controller: FrontendBundle:Connexion:register }
#CONNEXION

#UTILISATEUR
utilisateur_liste:
    path:     /utilisateur/liste
    defaults: { _controller: FrontendBundle:Utilisateur:liste }
#UTILISATEUR